@media (max-width: 1200px) {
    .header-container{
        z-index: 10;
    }
    .left-menu{
        height: 100vh;
        width: 0;
        position: absolute;
        top: 8px;
        left: 0;
        box-shadow: 3px -1px 19px 1px #ddd;
        overflow-y: scroll;
        background: var(--white-color);

        transition: 0.5;
    }
    .content-wrapper{
        margin-left: 0;
        z-index: 99;
    }
    .left-menu.hide{
        width: 240px;
        z-index: 99;
        position: fixed;
        top: 8px;
        left: 0;
        transition: 0.5s;
        
    }

}
@media (max-width: 980px) {
    .search-bar{
        display: none;
    }
    
}

@media (max-width: 480px){
    .header-left{
        overflow: hidden;
        width: 100%;
        justify-content: space-between;
    }
    .header .navbar-item{
        display: none;
    }
    .sidebarcollapse{
        padding-right: 5px;
    }


    table.dataTable > thead > tr > th, table.dataTable > tbody > tr > td {
        font-size: 11px;
    }

}