<!-- Modal -->
<div class="modal fade" id="assignedEquipmentEntry" tabindex="-1" aria-labelledby="assignedEquipmentEntryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="assignedEquipmentEntryLabel">Entry Assigned Equipment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <style>
                .equipmentEntryForm input {
                    width: 100%;
                    padding: 0 10px;
                    margin: 5px 0;
                }
            </style>
            <div class="modal-body equipmentEntryForm">
                <input type="text" placeholder="Enter equipment name" />
                <input type="text" placeholder="Enter member name" />
                <input type="text" placeholder="Enter member designation" />
                <input type="tel" placeholder="Enter member phone number" />
                <input class="btn btn-primary py-1" type="submit" value="Assigned Equipment" />
            </div>
        </div>
    </div>
</div>
