
<!-- Modal -->
<div class="modal fade" id="equipmentEntry" tabindex="-1" aria-labelledby="equipmentEntry" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="equipmentEntry">Entry Equipment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <style>
                .equipmentEntryForm input{
                    width: 100%;
                    padding:0 10px;
                    margin: 5px 0;
                }
            </style>
            <div class="modal-body equipmentEntryForm">
                <input type="text" placeholder="Enter equipment name"/>
                <input placeholder="Enter product amount"/>
                <input class="btn btn-primary py-1" type="submit" value="Add Equipment"/>
            </div>
        </div>
    </div>
</div>